* {
  box-sizing: border-box;
  padding: 0;
  Margin: 0;
  /*overflow-x: hidden;*/ 
}



#mashed {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}


header{
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  width: 100vw;
  font-size: relative;
  text-transform: uppercase;
  padding:1em 2em 1em 1em;
  letter-spacing: 4px;
  text-align: right;
  z-index: 4;
  margin-bottom: 40px;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  margin: 30px;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

#sgst {
  margin: 90px 2em 2em 2em;

}
  
#sgst ul {
  display: flex;
  flex-direction: row;
  /*width: 100vw;*/
  margin-top: 10px;
  flex-wrap: wrap;
}

#sgst ul li {
  display: flex;
  flex: 1;
  flex-flow: row;
  line-height: 45px;
  background-color: #ffffff;
  font-size: 1rem;
  justify-content: space-around;
}

#sgst ul li a {
  width: 100%;
  text-align: center; 
  color: #000000;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 100px;
  font-size: 1.5em;
  line-height: 1.8em;
  justify-content: space-around;
  letter-spacing: 0.2rem;
}

#sgst ul li:hover {

}

#sgst ul li a:hover{
  letter-spacing: 0.3rem;
}

#sgst ul li a:after {
  backface-visibility: hidden;
  border: 3px solid #ffffff;
  border-radius: 100px;
  margin: auto;
  bottom: 0;
  display: block;
  content: "  ";
  position: relative;
  transition: all 1100ms ease-in-out;
  width: 0%;
}


#sgst ul li a:hover:after{
  backface-visibility: hidden;
  border-color: #ffff00;
  transition: bottom 800ms ease-in-out;
  width: 20%;

}


.search {
  position: fixed;
  color: #000000;
  min-height: 20px;
  line-height: 20px;
  position: relative;
  margin: 15px 10px 0px 15px;
  z-index: 5;
  width: 90vw;
}

.search input {
  background-color: white;
    width: 70%;
    height: 60px;
    text-indent: 30px;
    font-size: 1.5em;
    border: 2px solid #000000;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-radius: 90px;
    font-family: 'Raleway', sans-serif;
    height: 45px;
    -webkit-appearance: none;
}

.search input::-webkit-input-placeholder {
    color: #414141; 
}

.search button {
  -webkit-appearance: none;
  background-color: silver;
  color: #fff;
  height: 100%;
  position: absolute;
  width: 25%;
  right: -1px;
  top: 0;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  /*font-size: 1.5em;*/
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-right: 20vw;
  height: 41px;
  margin-top: 2px;
}

.search button:hover {
  background-color: #3e3e3e; 
  }

.results {
  border: 0px solid #3c3c38;
  padding: 0;
  flex: 2;  
  border-radius: 10px;
  overflow: hidden;
}

.results .loader {
  display: none;
  width: 80px;
  height: 80px;
  border: 16px solid #fff;
  border-top: 16px solid #4fbf4f;
  border-radius: 50%;
}

.results .loader.spin {
  display: block;
  animation: spinning 1.0s linear infinite;
}
    
@keyframes spinning {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.results ul {
  flex-wrap: wrap;

overflow: inherit;

  
 flex-flow: column wrap;
 -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
 -moz-columns: 100px 3; /* Firefox */
 columns: 100px 3;
 max-height: 1700px;


  column-gap: 1px; 
column-fill: balance;
}

.results .result {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  font-size: 2.0em;
  font-family: 'Raleway', sans-serif';
  min-height: 550px;
  width: 100%;
  margin-bottom: 10px; 
  padding: 40px;
  border-radius: 10px;
}

.result p{
  /*font-size: 0.7em;*/
  font-size: initial;
}

.results .result:last-child {
  margin-bottom: 0; 
}

.results .result:hover {
  cursor: pointer;
  /*background-color: #ffff00;*/
   text-align: right;
}

img{
  filter:  opacity(80%)saturate(15%) ;

}

img:hover{
  filter: none ;
  transform: scale(1.05);
}
.result img{
  width: 40vw;
  filter: none;
  height: auto;

}




#yellowtag {
  color: #ffff00;
}
section {
  width: 100%;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
